@font-face {
  font-family: Poppins;
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
  font-display: block;
}


.app-container {
  height: 100vh;
  display: flex;
  width: 100vw;
  background-color: #f3f3f3;
}

body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.panel-inner-container {
  display: flex;
  background-color: white;
  transition: width 0.3s ease;
}

h1 {
  color: rgb(3, 6, 9);
}

h4 {
  margin: 0px;
}
.reactflow-wrapper {
  flex-grow: 1;
}

.panel-toggle-button {
  background-color: #a2a8d9;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0; 
}

.panel-content {
  transition: width 0.3s ease;
  box-sizing: border-box; 
  overflow: auto;
}

.content-wrapper {
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .information-panel {
    display: none;
  }
}


a {
  text-decoration: none;
  color: rgb(75, 96, 226);
  margin: 0px 0px;
}
