.app-container {
  height: 100vh;
  display: flex;
  width: 100vw;
  background-color: #f3f3f3;
}

.panel-inner-container {
  display: flex;
  background-color: white;
  transition: width 0.3s ease;
}

h1 {
  color: rgb(3, 6, 9);
}

.reactflow-wrapper {
  flex-grow: 1;
}

.panel-toggle-button {
  background-color: #a2a8d9;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0; 
}

.panel-content {
  transition: width 0.3s ease;
  box-sizing: border-box; 
  overflow: auto;
}

.content-wrapper {
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
}

